@import "tailwindcss";
@import "tw-animate-css";

:root{
    color: white;

}

h1,h2,h3,p{
    z-index: 10;
}

.text-stroke {
    -webkit-text-stroke: 1px white;
    /* stroke width + color */
    
    /* makes only stroke visible */
}

html,
body,
#__next {
    background: black;
}

